/* Remove margens padrão */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Faz a página ocupar a tela toda */
html, body {
    width: 100%;
    height: 100%;
}

/* Faz a imagem ocupar toda a tela */
body img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* preenche sem distorcer */
    display: block;
}
